.App{
    color:sandybrown;
    .Btn{
        color:royalblue;
        input[type='button']{
            color:whitesmoke;
            background: #112486;
            margin: 10px;
            width:40px;
            text-align: center;
        }
    }
}